@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@1,500&display=swap");

header {
  display: flex;
  justify-content:flex-start;
  flex-direction: row;
  font-family: "Kanit", sans-serif;
  background: #062f4f;
  border:none;
  white-space:nowrap;
  position:absolute;
}

#logowrapper {
  display:block;
  white-space:nowrap;
  position: relative;
  margin-left: 1em;
}
.logotext {
  display:inline;
  position:relative;
  font-style: italic;
  font-size: 3em;
  color: red;
  text-shadow: 1px 1px 3px white;
  animation: text_glow 0.7s;
  animation-iteration-count: 1;
  animation-delay: 2.3s;
}

.logotext.tail {
  left:20px;
  bottom:4px;
}
.logotext.f {
  z-index: 2;
  font-size: 3.2em;
}
@keyframes text_glow {
  0%   {text-shadow: 1px 1px 3px white;}
  50%  {text-shadow: 3px 3px 9px white;}
  100% {text-shadow: 1px 1px 3px white;}
}
#logoman {
    display:inline;
  position: relative;
  right: 280px;
  top: 6px;
  z-index: 1;
  height: 40px;
  width: 50px;
  -webkit-filter: drop-shadow(2px 2px 5px red);
  animation: run_in 2s;
  animation-iteration-count: 1;
}
@keyframes run_in {
    from {top: 6px; right:350px;}
    to {top: 6px;right:280px}
}
